<div class="login-container">

  <div class="login-card glass">
    
    <div class="left-panel">
      <div class="logo">
        <span class="material-icons">business</span>
      </div>

      <h1 class="brand">CesarCort</h1>

      <p class="desc">
        Gestión inteligente para decisiones empresariales.
      </p>
    </div>

    <div class="right-panel">

      <a routerLink="/inicio" class="volver-inicio">
        ← Volver al inicio
      </a>

      <h2>Bienvenido</h2>
      <p class="sub">Ingresa tus credenciales para continuar</p>

      <form [formGroup]="form" (ngSubmit)="login()">

        <div class="form-group">
          <label>Usuario</label>
          <div class="input-icon">
            <span class="material-icons">person</span>
            <input type="text" formControlName="username" placeholder="Ingrese su usuario" />
          </div>
          <small *ngIf="form.controls.username.touched && form.controls.username.invalid">
            El usuario es obligatorio
          </small>
        </div>

        <div class="form-group">
          <label>Contraseña</label>
          <div class="input-icon">
            <span class="material-icons">lock</span>
            <input type="password" formControlName="password" placeholder="Ingrese su contraseña" />
          </div>
          <small *ngIf="form.controls.password.touched && form.controls.password.invalid">
            La contraseña es obligatoria
          </small>
        </div>

        <button class="btn-login" type="submit" [disabled]="form.invalid">
          Ingresar
        </button>

      </form>

    </div>
  </div>

</div>