<section class="proveedor-form">

    <h2>{{ editMode ? 'Editar Proveedor' : 'Registrar Nuevo Proveedor' }}</h2>

    <form [formGroup]="form" (ngSubmit)="guardar()">

        <!-- RAZÓN SOCIAL -->
        <div class="form-group">
            <label for="razonSocial">Razón Social</label>
            <input type="text" id="razonSocial" formControlName="razonSocial" />
            <p class="error" *ngIf="form.get('razonSocial')?.invalid && form.get('razonSocial')?.touched">
                *La razón social es obligatoria.
            </p>
        </div>

        <!-- RUC -->
        <div class="form-group">
            <label for="ruc">RUC</label>
            <input type="text" 
                   id="ruc" 
                   formControlName="ruc"
                   maxlength="11"
                   oninput="this.value = this.value.replace(/[^0-9]/g, '')">
            
            <!-- Campo vacío -->
            <p class="error" *ngIf="form.get('ruc')?.hasError('required') && form.get('ruc')?.touched">
                *El RUC es obligatorio.
            </p>

            <!-- Longitud incorrecta -->
            <p class="error" *ngIf="form.get('ruc')?.hasError('longitudInvalida') && form.get('ruc')?.touched">
               *El RUC debe tener 11 dígitos numéricos.
            </p>

            <!-- Formato incorrecto -->
            <p class="error" *ngIf="form.get('ruc')?.hasError('prefijoInvalido') && form.get('ruc')?.touched">
                *Debe colocar un RUC válido.
            </p>
        </div>

        <!-- CONTACTO -->
        <div class="form-group">
            <label for="contacto">Contacto</label>
            <input type="text" id="contacto" formControlName="contacto" />
        </div>

        <!-- TELÉFONO -->
        <div class="form-group">
            <label for="telefono">Teléfono</label>
            <input type="text" 
                   id="telefono" 
                   formControlName="telefono"
                   maxlength="9"
                   oninput="this.value = this.value.replace(/[^0-9]/g, '')">
            
            <!-- Campo vacío -->
            <p class="error" *ngIf="form.get('telefono')?.hasError('required') && form.get('telefono')?.touched">
                *El TELEFONO es obligatorio.
            </p>

            <!-- Formato incorrecto -->
            <p class="error" *ngIf="form.get('telefono')?.hasError('pattern') && form.get('telefono')?.touched">
                *El TELEFONO debe tener 9 dígitos.
            </p>
        </div>

        <!-- EMAIL -->
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" formControlName="email" />
            <p class="error" *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
                *Ingrese un correo válido.
            </p>
        </div>

        <!-- DIRECCIÓN -->
        <div class="form-group">
            <label for="direccion">Dirección</label>
            <input type="text" id="direccion" formControlName="direccion" />
        </div>

        <!-- CIUDAD -->
        <div class="form-group">
            <label for="ciudad">Ciudad</label>

            <select id="ciudad" formControlName="ciudad">
                <option value="">Seleccione una ciudad</option>
                <option value="Chimbote">Chimbote</option>
                <option value="Lima">Lima</option>
                <option value="Arequipa">Arequipa</option>
                <option value="Trujillo">Trujillo</option>
                <option value="Cusco">Cusco</option>
                <option value="Piura">Piura</option>
                <option value="Chiclayo">Chiclayo</option>
                <option value="Iquitos">Iquitos</option>
                <option value="Huancayo">Huancayo</option>
                <option value="Tacna">Tacna</option>
            </select>

            <p class="error" *ngIf="form.get('ciudad')?.invalid && form.get('ciudad')?.touched">
                *La ciudad es obligatoria.
            </p>
        </div>

        <!-- ESTADO (solo en modo edición) -->
        <div class="form-group" *ngIf="editMode">
            <label for="activo">Estado</label>
            <select id="activo" formControlName="activo">
                <option [value]="true">Activo</option>
                <option [value]="false">Inactivo</option>
            </select>
        </div>

        <!-- ACCIONES -->
        <div class="acciones">
            <button class="btn-save" type="submit" [disabled]="form.invalid">
                {{ editMode ? 'Actualizar' : 'Guardar' }}
            </button>

            <button class="btn-cancel" routerLink="/proveedores" type="button">
                Cancelar
            </button>
        </div>

    </form>

</section>
